{% extends 'tests_qs/addQs.html.twig' %}
{% block pageTitle %}
	<li>
		<h4 class="page-title-main">Modifier la question</h4>
	</li>
{% endblock %}
{% block header_title %}
	<br>
{% endblock %}
{% block btn %}
	<input type="submit" class="btn btn-primary waves-effect waves-light" value="Modifier">
{% endblock %}
