<h4>Filtrer Par :</h4>
<ul class="filters p-2 mt-3">

	<li class="creator-filter">
		<h5>Créateur</h5>
		<a href="#">Voir mes séances</a>
		{{component('seperator',{label:'ou'})}}
		<select type="text" placeholder="Nom Créateur"></select>
	</li>
</li>
<li class="availability-filter"></li>
<li class="price-filter"></li>
<li class="course-filter"></li>
<li class="dateTime-filter"></li>
<li class="keyword-filter"></li></ul>
